<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPublicEDKey</key>
	<string>A8vOFDtqJ2nF1gmzCLlVDAWZGGHmQAuAEAE3hHIughY=</string>
	<key>SUFeedURL</key>
	<string>https://gist.githubusercontent.com/Butanediol/dc76ce9c0b947c51ba674c25e64ce01c/raw</string>
</dict>
</plist>
